h1 {
    text-align: center;
    color: goldenrod;
}

.card {
    background-color: gold;
    text-align: center;
}

.submit-btn {
margin-top: 1%;
}

.akanResult {
    font-weight: lighter;
}

h4 {
    color: green;
}

.introduction {
    color: lightblue;
}